<br><br><br>
<div class="container">
<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <th>Client Name</th>
    <th>Project Name</th>
    <th>Arrival Date</th>
    <th>Departure Date</th>
    <th>Agenda</th>
    <th>Account</th>
    <th>View</th>
 
  </thead>
<tbody>
<tr *ngFor="let client of clients;index as i">
      <td>{{client.clientName}}</td>
      <td>{{client.projectName}}</td>
      <td>{{client.stringarrive}}</td>
      <td>{{client.stringdepart}}</td>
      <td>{{client.agenda}}</td>
      <td>{{client.account}}</td>
      <!-- <td><a class="nav-link" [routerLink]="['/viewAllEvents',Client.clientId]">View Itinerary</a></td> -->
     <td> <a [routerLink]="['/viewevents', client.clientId]">View Itinerary </a> </td>
      <!-- <td ><a routerLink="['/viewevents/',clients.clientId]">View Itinerary</a></td> -->
      </tr>  
    </tbody>
  </table>
  </div>
