 <br>
 <br>
 <br>
 <br>
 <form [formGroup]="InsertClientForm" (ngSubmit) = "OnInsertClient()">
    <div class="container" style="position:relative; z-index:10">
        <h2> Add Client and Itinerary </h2>
        <form> </form>
            <div class="form-group">
            <label for="clientName">Client Name:</label>
             <input type="text" class="form-control" id="clientName" placeholder="Enter name" formControlName="clientName"><br>
          
            <label for="projectName">Project Name:</label>
            <input type="text" class="form-control" id="projectName" placeholder="Enter project name" formControlName="projectName"><br>

            
          
            <label for="arrivalDate">Arrival Date:</label>
            <input type="date" class="form-control" id="arrivalDate" formControlName="arrivalDate"><br>
          
            <label for="deptDate">Departure Date:</label>
            <input type="date" class="form-control" id="deptDate" formControlName="deptDate"><br>
          
            <label for="agenda">Agenda:</label>
            <input type="text" class="form-control" id="agenda" formControlName="agenda"><br>

            <label for="agenda">Account:</label><br>
            <!-- <input type="text" class="form-control" id="agenda" placeholder="Enter agenda" formControlName="agenda"><br> -->

            <select formControlName="account">
                <option value="CITI" >CITI</option>
                           <option value="Bank of Montreal">Bank of Montreal</option>
                              <option value="Bank of Canada">Bank of Canada</option>
                              <option value="HDFC">HDFC</option>
                              <option value="Others">Others</option>
              </select>  
           </div><br>
           <hr>
          <div>
              
              
              <form>
                   
             
                    <label for="arrivalDate">Start time:</label>
                    <input type="datetime-local" class="form-control" id="starttime"><br>
                  
                    <label for="deptDate">End time:</label>
                    <input type="datetime-local" class="form-control" id="endtime"><br>
                    <div align="center">
                            <button type="submit" class="btn btn-success">Add event</button>
                    </div>
              </form>
            
            
          </div>
          <hr>
         <div> View Events</div>
         <table class="table">
             <thead>
                 <th>Event Type</th>
                <th>Event Start time</th>
                <th>Event End time</th>
             </thead>
             <tbody>

             </tbody>
         </table>
          <div align="center">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        
      </div> 

</form>

