/* .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    
  }
  
  .tablink:hover {
  	opacity:0.9;
    background-color: #777;
  } */
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .customnavbarnav{
    width: 100%; 
    text-align: center;
   
    
}

.customlist{
    width: 47.33333333333333%;
    background-color:white;
   
    
}