
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Client Itinerary</a>
      </li>
      <li class="nav-item">
        <a routerLink="/addclient" class="nav-link">Add Client Itinerary</a>
      </li>
      <li class="nav-item">
        <a routerLink="/viewclient" class="nav-link">View Itinerary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </nav>
